body{
    background-image: url("bgimg.png");
}
h1 {
    text-align: center;
    color: rgb(218, 218, 218);
    font-family: verdana;
}
p {
    color: rgb(218, 218, 218);
    border: 2px solid gray;
    font-family: courier;
}
a{
    color: aqua;
    font-family: courier;
}